<!DOCTYPE html>
<html>
<head>
  <title>Blorgh</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "blorgh/application", media: "all" %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

</head>
<body>

<%= yield %>

</body>
</html>
